nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    height: 50px;
    padding-right: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

nav:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

nav a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    transition: font-weight 0.2s ease-in-out;
}

nav a:hover {
    font-weight: bold;
}

nav a.current {
    font-weight: bold;
}